<div class="flex-1">
    <div class="container px-4 mx-auto">
        <div class="flex flex-wrap justify-between items-start">
            <mat-form-field appearance="outline" class="select-dropdown">
                <mat-label>Select Site</mat-label>
                <mat-select (selectionChange)="selectSite($event)" [(ngModel)]="selectedSiteId">
                    <mat-option *ngFor="let site of sitesList" [value]="site.id">
                        {{site.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <button (click)="openCreateRiskModal()"
                class="bg-custom-primary hover:bg-custom-primary text-white py-4 px-6 rounded-lg">
                New Proposal
            </button>
        </div>
        <div class="my-6">
            <ag-grid-angular
                class="ag-theme-alpine"
                style="width: auto; max-height: 500px; overflow: auto;"
                [defaultColDef]="defaultColDef"
                domLayout="autoHeight"
                [suppressDragLeaveHidesColumns]="true"
                [rowData]="rowData" [columnDefs]="columnDefs"
                [rowSelection]="rowSelection"
                [frameworkComponents]="frameworkComponents"
                (gridReady)="onGridReady($event)"
                [animateRows]="true"
                (rowDragEnd)="onRowDragEnd($event)"
                [rowDragManaged]="true" 
            ></ag-grid-angular>
        </div>
    </div>
</div>
