.signin-container {
  .signin-page-container {
    background-color: #f8971f;
  }

  .header-text {
    color: white;
  }

  .header-text-2 {
    color: white;
  }

  .vis-icon {
    color: white;
    height: 20px !important;
  }

  .login-button {
    background-color: #f8971f;
  }

  input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px #f8971f inset !important;
  }

  .mat-input-element {
    -webkit-text-fill-color: white;
    border-color: white !important;
  }

  .mat-form-field-appearance-outline .mat-form-field-outline {
    color: white;
  }

  .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
    color: white;
  }

  .mat-form-field-outline-start {
    // border-radius:  0 !important;
  }

  .mat-form-field-outline-end {
    // border-radius: 0 !important;
  }

  .mat-form-field-required-marker {
    color: white;
  }
}