<div
    class="overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 w-full md:inset-0 h-modal md:h-full justify-center items-center flex">
    <div class="relative p-4 w-full max-w-lg h-full md:h-auto">
        <!-- Modal content -->
        <div class="relative bg-white rounded-lg shadow ">
            <!-- Modal header -->
            <div
                class="flex justify-between items-center p-4 rounded-t border-b dark:border-gray-600 bg-custom-primary">
                <div class="text-xl mb-0 text-white">
                    {{data.title}}
                </div>
                <div>
                    <button (click)="closeModalClicked()" type="button" class="text-white"
                        data-modal-toggle="defaultModal">
                        <mat-icon>close</mat-icon>
                    </button>
                </div>
            </div>
            <div class="text-center pt-6">
                Are you sure you want to {{modalCategory}} this risk?
            </div>
            <form class="p-6 flex justify-center">
                <div (click)="onConfirmClick()">
                    <button data-modal-toggle="defaultModal" type="button"
                        class="text-center bg-custom-primary text-white py-3 px-4 rounded w-full">Yes</button>
                </div>
                <div class="ml-6" (click)="closeModalClicked()">
                    <button data-modal-toggle="defaultModal" type="button"
                        class="text-center bg-custom-primary text-white py-3 px-4 rounded w-full">No</button>
                </div>
            </form>
        </div>
    </div>
</div>