<div class="flex w-[100vw] absolute bottom-0 text-gray-400 text-xs p-2">
  <div class="shrink w-[230px]"></div>
  <div class="flex justify-center grow whitespace-nowrap px-3 ">COPYRIGHT 2022 | TOP BUSINESS RISK | AN MFG ANALYTIC APP</div>
  <div class="flex flex-none w-[230px] text-gray-400 whitespace-nowrap">
    <div (click)="goToRoute('terms-and-conditions')" class="hover:text-custom-primary pr-1 cursor-pointer" >TERMS & CONDITIONS</div>
    <div>|</div>
    <div (click)="goToRoute('privacy-policy')" class="pl-1 hover:text-custom-primary cursor-pointer "> PRIVACY POLICY</div>
  </div>
</div>

