<!-- Main modal -->
<div
    class="overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 w-full md:inset-0 h-modal md:h-full justify-center items-center flex">
    <div class="relative p-4 w-full max-w-2xl h-full md:h-auto">
        <!-- Modal content -->
        <div class="relative bg-white rounded-lg shadow ">
            <!-- Modal header -->
            <div
                class="flex justify-between items-center p-4 rounded-t border-b dark:border-gray-600 bg-custom-primary">
                <div class="text-xl mb-0 text-white">
                    {{data.title}}
                </div>
                <button (click)="closeModalClicked()" type="button"
                    class="text-white bg-transparent rounded-full text-sm p-1.5 ml-auto inline-flex items-center border-2 border-white"
                    data-modal-toggle="defaultModal">
                    <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20"
                        xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                            d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                            clip-rule="evenodd"></path>
                    </svg>
                    <span class="sr-only">Close modal</span>
                </button>
            </div>
            <!-- Modal body -->
            <div class="p-6 space-y-6">
                <div class="flex flex-row justify-between items-center">
                    <div class="flex flex-col">
                        <span class="text-bold text-lg capitalize">Name</span>
                        <span class="text-bold text-base text-custom-primary">{{ data.data.firstName + ' ' + data.data.lastName}}</span>
                    </div>
                    <div class="flex flex-col">
                        <span class="text-bold text-lg capitalize">Email</span>
                        <span class="text-bold text-base text-custom-primary">{{ data.data.email }}</span>
                    </div>
                </div>
                <form class="customForm" [formGroup]="data.formGroup">
                    <mat-form-field  appearance="outline">
                        <mat-label>New Password</mat-label>
                            <span class="flex flex-row">
                                <input matInput placeholder="" [type]="hide ? 'password' : 'text'" formControlName="newPassword" name="newpass" autocomplete="new-password">
                                <mat-icon mattSuffix (click)="hide = !hide" class="ml-2">{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
                            </span>
                    </mat-form-field>
                    <div>
                        <mat-form-field class="field w-full" appearance="outline">
                            <mat-label>Confirm password</mat-label>
                            <span class="flex flex-row">
                                <input matInput placeholder="" [type]="hideConfirm ? 'password' : 'text'" formControlName="confirmPasswordC" autocomplete="new-password">
                                <mat-icon mattSuffix (click)="hideConfirm = !hideConfirm" class="ml-2">{{ hideConfirm ? 'visibility_off' : 'visibility' }}</mat-icon>
                            </span>
                        </mat-form-field>
                    </div>
                    <div>
                        <span class="text-xs" [ngClass]="{'text-red-600': data.formGroup.get('newPassword').hasError('capitalize'), 'text-green-600': data.formGroup.get('newPassword').valid}">
                            *Password must be atleast 8 characters and must have at least one lowercase letter, one uppercase letter.
                        </span> <br>
                        <span class="text-xs" [ngClass]="{'text-red-600': data.formGroup.get('newPassword').touched && data.formGroup.get('newPassword').hasError('specialCharacter'), 'text-green-600': data.formGroup.get('newPassword').touched && data.formGroup.get('newPassword').valid}">
                            *Must have one special characters.
                        </span> <br>
                        <span class="text-xs" [ngClass]="{'text-red-600': data.formGroup.get('newPassword').touched && data.formGroup.get('newPassword').hasError('number'),'text-green-600': data.formGroup.get('newPassword').touched && data.formGroup.get('newPassword').valid}">
                            *Must have one digit.
                        </span> <br>
                        
                        <span 
                            class="text-xs"
                            [ngClass]="{'text-red-600': data.formGroup.get('confirmPasswordC').hasError('mustMatch'), 'text-green-600': data.formGroup.get('confirmPasswordC').valid}">*Password must match</span>
                    </div>
                </form>
            </div>
            <!-- Modal footer -->
            <div class="p-6 pt-0">
                <button data-modal-toggle="defaultModal" type="button"
                    class="text-center bg-custom-primary text-white py-3 px-4 rounded w-full" (click)="changePassword()">Update</button>
            </div>
        </div>
    </div>
</div>