<nav
  class="header-container flex grow flex-wrap justify-between items-center bg-custom-secondary px-2 sm:px-4 py-2 border-b my-4 mx-4 rounded">
  <img class="h-[50px]" src="assets/images/login/tbrLogo.png" alt="logo.alt">
  <div class="flex items-center md:order-2">
    <mat-icon class="text-[30px] w-auto h-auto text-white cursor-pointer" [matMenuTriggerFor]="optionsMenu">
      settings
    </mat-icon>
    <mat-menu #optionsMenu="matMenu">
      <button class="h-[35px] flex align-middle items-center text-gray-600" (click)="navigateTo(option.route)"
        *ngFor="let option of optionList" mat-menu-item>{{option.name}}</button>
    </mat-menu>
  </div>
</nav>