
.custom-grid-menu {
  // display: flex;
  // align-content: center; /* align vertical */
  padding-top: 5px;

  .icon-button:hover {
    color: white !important;
    background-color: #014a72;
    border-radius: 4px;
  }
}


