<!-- Main modal -->
<div
    class="overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 w-full md:inset-0 h-modal md:h-full justify-center items-center flex">
    <div class="relative p-4 w-full max-w-2xl h-full md:h-auto">
        <!-- Modal content -->
        <div class="relative bg-white rounded-lg shadow ">
            <!-- Modal header -->
            <div class="header">
                <div class="title">{{data.title}}</div>
                <button (click)="closeModalClicked()" type="button" class="flex align-middle" data-modal-toggle="defaultModal">
                  <mat-icon matTooltip="Close Modal" class="text-white text-center" >close</mat-icon>
                </button>
              </div>
            <form class="customForm" [formGroup]="createSiteForm">
                <!-- Modal body -->
                <div class="p-6 space-y-6">
                    <mat-form-field class="field" appearance="outline">
                        <mat-label>Site Name</mat-label>
                        <input matInput placeholder="" formControlName="name">
                    </mat-form-field>

                    <mat-form-field class="field" appearance="outline">
                        <mat-label>Site's Location</mat-label>
                        <input matInput placeholder="" formControlName="location">
                    </mat-form-field>
                </div>
                <!-- Modal footer -->
                <div class="p-6 pt-0">
                    <button data-modal-toggle="defaultModal" type="button"
                        class="text-center bg-custom-primary text-white py-3 px-4 rounded w-full"
                        (click)="createSite()">Add Site</button>
                </div>
            </form>
        </div>
    </div>
</div>