<div class="flex flex-col h-[100vh] p-4">
  <nav class="header-container flex justify-between items-center bg-custom-secondary px-2 sm:px-4 py-2 border-b rounded">
    <img class="h-[50px]" src="assets/images/login/tbrLogo.png" alt="logo.alt">
  </nav>
  <div class=" flex flex-col grow p-4 mt-4 justify-center items-center rounded-lg border-[#f8971f] border">
    <div class="flex flex-col font-semibold text-[30px] text-custom-tbr-gray w-1/2 uppercase mb-5 text-center">
      Welcome {{ userName }}
    </div>
    <div class="text-xs whitespace-nowrap flex justify-center items-center flex-col">
      <div>
        <span class="uppercase my-3">Please enter your new password</span>
        <form [formGroup]="formGroup" class="pt-3">
          <mat-form-field appearance="outline" class="w-80 mr-2">
            <mat-label>Password</mat-label>
            <span class="flex flex-row">
              <input matInput placeholder="" [type]="hide ? 'password' : 'text'" formControlName="password"
                name="newpass" autocomplete="new-password" required>
              <mat-icon mattSuffix (click)="hide = !hide" class="text-[20px] text-gray-500">{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>

            </span>
            <mat-error *ngIf="formGroup.value.password">Password must contain an upper and lower case character.</mat-error>
            <mat-error *ngIf="formGroup.value.password">Password must contain a number.</mat-error>
            <mat-error *ngIf="formGroup.value.password">Password must contain a special character.</mat-error>
            <mat-error *ngIf="formGroup.value.password">Password must be 8 characters long.</mat-error>
          </mat-form-field>
          <mat-form-field class="field w-80" appearance="outline">
            <mat-label>Re-enter password</mat-label>
            <span class="flex flex-row">
              <input matInput placeholder="" [type]="hideConfirm ? 'password' : 'text'"
                formControlName="confirmPassword" autocomplete="new-password" required>
              <mat-icon mattSuffix (click)="hideConfirm = !hideConfirm" class="text-[20px] text-gray-500">{{ hideConfirm ? 'visibility_off' : 'visibility' }}</mat-icon>
            </span>
            <mat-error *ngIf="formGroup.value.confirmPassword">Passwords do not match.</mat-error>
          </mat-form-field>
          <div class="flex justify-end">
            <button class="uppercase bg-[#89b555] py-2 px-5 rounded text-white font-medium "
              [disabled]="!formGroup.valid" [ngClass]="{'bg-gray-400': !formGroup.valid}"
              (click)="setPassword()">Set Password</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

